.App {
  text-align: center;
  color: #212121;
}

.action-section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 0;
  padding: 20px;
  border: 1px solid #ccc;
}

.table-container{
  border: 1px solid #ccc;
  height: 70vh;
}

.table-container table {
  height: 90%;
}

.table-container table tbody tr{
  cursor: pointer;
}

.pagination{
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination ul {
  justify-content: center;
}

.bank-details-container table{
  width: 50%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}